
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Promedio</title>
</head>
<body>
    <div> 
       El cogido del alumno es: @Model.codigo <br/>
        Su nombre es: @Model.nAlumno<br />
        El nombre de la materia es: @Model.nMateria <br />

        EL promedio de sus notas es: @Model.promedio <br />
        Por tanto el esta @Model.aprobacion
    </div>
</body>
</html>
